<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车效果</title>
    <link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app" v-clock>

    <h1 align="center">购物车效果</h1>
    
    <table>
        <tr>
            <th width="10%">
                <label>
                    <input type="checkbox" @click="checkAll()">
                    {{txt}}
                </label>
            </th>
            <th width="12%">缩图</th>
            <th>商品</th>
            <th width="15%">数量</th>
            <th width="12%">单价（元）</th>
            <th width="12%">小计</th>
            <th width="10%">操作</th>
        </tr>
        <tbody>
            <tr v-for="item in carData">
                <td><input type="checkbox" :value="item.id"  v-model="check"></td>
                <td>
                    <img :src="item.imgurl" width="60" height="60">
                </td>
                <td>{{ item.name }}</td>
                <td><input type="number" v-model.number="item.number" @input="onInput(item)"></td>
                <td><b>{{ item.price }}</b></td>
                <td><b>{{item.price*item.number}}</b></td>
                <td><button @click="del(item)">删除</button></td>
            </tr>
			<tr v-if="carData.length==0">
				<td colspan="7" style="text-align:center">您的购物车空空如也</td>
			</tr>
         
        </tbody>
    </table>

    <table>
        <tr>
            <td width="30%">
                <button @click="clear()">清空</button>
                <a href="product.html" class="btn">继续购物</a>
            </td>
            <td align="right">
                <span><b>{{ checkNumber }}</b>件商品，总计:<b>￥{{ totalPrice }}</b></span>

      
                <a href="#" class="btn">去结算</a>
            </td>
        </tr>
    </table>

</div>
<script>
	var localData = localStorage.getItem('localData');
	var app = new Vue({
		el:'#app',
		data: {
			carData: localData?JSON.parse(localData):[],
			check: [],
			txt: '全选'
		},
		computed: {
			//全选check的数据
			checkData(){
				return this.carData.map(item => item.id);
			},
			//被选中的商品
			checkShop(){
				return this.carData.filter(item => this.check.indexOf(item.id) != -1);
			},
			//被选中商品的总数
			checkNumber(){
				return this.checkShop.reduce(function(a,b){
					return a + b.number;
				},0)
			},
			//总价格
			totalPrice(){
				return this.checkShop.reduce(function(a,b){
					return a + b.number*b.price;
				},0)
			}
		},
		methods: {
			//删除
			del(data){
				this.carData.forEach((item,index) => {
					if(data.id==item.id){
						this.carData.splice(index,1);
					}
				})
			},
			//清空
			clear(){
				this.carData = [];
			},
			//全选和反选
			checkAll(){
				if(this.txt == '全选'){//用户点击了全选
					this.txt = '全不选';
					this.check = this.checkData;
				}else{//用户点击了都不选
					this.txt = '全选';
					this.check = [];
				}
			},
			//处理数字输入框中最小值
			onInput(data){
				if(data.number <= 1){
					data.number = 1;
				}
				if(data.number >= 99){
					data.number = 99;
				}
			}
		},
		updated(){
			//数据发生改变就会存储到本地
			var str = JSON.stringify(this.carData);
			localStorage.setItem('localData',str);
		}
	})
</script>
</body>

</html>